#download-section {
  background-image: url('images/download-section-background.png');
  background-repeat: no-repeat;
  min-height: 580px;
  background-position: center;
  font-weight: 400;

  .content {
    padding: 5.55% 5.55% 0;
    text-align: center;
    color: white;

    p {
      letter-spacing: 0.008em;
      line-height: 1.35em;
      font-size: 34px;
      font-family: 'Roboto', sans-serif;
    }

      button {
        text-align: left;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        background: transparent;
        border-radius: 50px;
        outline: none;
        border: 2px solid white;
        padding: 17px 0;
        width: 253px;
        margin-top: 190px;

        &:hover {
          border-color: #31abef;
        }

        img {
          margin-left: 33px;
        }

        span {
          margin-left: 29px;
        }
      }
  }
}
@media (max-width: 575px) {
  #download-section .content p {
    line-height: 2.0em;
    margin-top: 40px;
    font-size: 16px;
  }

  #download-section .content button {
    margin-top: 170px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #download-section .content p {
    line-height: 2.0em;
    margin-top: 40px;
    font-size: 3vw;
  }

  #download-section .content button {
    margin-top: 235px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #download-section .content p {
    margin-top: 30px;
    font-size: 3vw;
  }

  #download-section .content button {
    margin-top: 235px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #download-section .content p {
    font-size: 3vw;
  }

  #download-section .content button {
    margin-top: 235px;
  }
}
