
@font-face {
font-family: 'Arciform';
src: url('fonts/Arciform.otf');
font-weight: 400;
font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,500,700|Rubik:300|Source+Sans+Pro:600');
// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
